################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Universal/v17
/.vs/Universal/FileContentIndex
/Universal.Core/bin/Debug/net9.0
/Universal.Core/obj
