################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Universal/v17
/Universal.Platform/bin/Debug/net9.0
/Universal.Platform/obj
/.vs/Universal
