################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Universal/v17
/.vs/Universal/FileContentIndex
/Universal.Core/bin/Debug/net9.0
/Universal.Core/obj
*.user
/Universal.DataAccess/obj
/Universal.DataAccess/bin/Debug/net9.0
/Universal.Service/bin/Debug/net9.0
/Universal.Service/obj
/Universal.Common/bin/Debug/net9.0
/Universal.Common/obj
/.vs
/Universal.Presentation/bin/Debug/net9.0
/Universal.Presentation/obj
/Universal.Platform/bin/Debug/net9.0
/Universal.Platform/obj
